.site-footer img:hover {
    opacity: 100%;
}

.site-footer {
    border-top: 1px solid #eeebee;
    padding-top: 12px;
}
.site-footer img {
    width: 136px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    opacity: 60%;
}

.bigTable td,th {
    min-width: 0;
}